<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Application Name-->
  <add key="AppName" value="New Web|192.168.104.70" />
  <!--Rabbit MQ stomp plugin service url-->
  <add key="StompServiceUrl" value="http://192.168.104.70:15674/stomp" />
  <!--ServiceUrl -->
  <!--SV服务地址-->
  <add key="ServiceUrl" value="http://192.168.104.71" />
  <!--.Net Core SV服务地址-->
  <add key="CoreServiceUrl" value="http://192.168.104.41:82/" />
  
  <!--应急SV服务地址-->
  <add key="BackupServiceUrl" value="http://192.168.104.71" />

  <!--静态资源CDN配置 -->
  <add key="UseCDN" value="false" />
  <add key="CDNSite" value="http://www.sit.n51plus.ark88.local" />

  <!--扣除的反水/GD說-就是在算奖的时候，0.001是不参与算奖的，它只参与投注的反水-->
  <!--只有0.078的用户，算奖时按照0.077来算，反水时按照0.078来反-->
  <add key="ExportRebatePro" value="" />
  <!--獎金折扣-->
  <add key="DiscountPro" value="" />
  <add key="Environment" value="Development" />
  <!--商戶代碼-->
  <add key="PlatformMerchantCode" value="MSL" />

  <!--偵錯UserIDs 多筆;相隔-->
  <add key="DebugUserIds" value="6251;888;588" />
  <!--偵錯User不開啟全屏-->
  <add key="IsDebuggerNoFullScreen" value="1" />

  <!--登入Token加解密key-->
  <add key="AuthenticationTokenKey" value="#EDC4RFV" />

  <!--MSService的Url-->
  <add key="MSServiceUrl" value="http://192.168.104.69:18098/"/>
</appSettings>