<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--環境變數:資料種類有  Development, SIT, UAT, Production-->
  <!--DEV Settings-->
  <add key="Environment" value="Development" />
  <add key="Master_Inlodb_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EAnx2wFm7rUYvqiAOKsNP3tJptTYdpFwE9d3BtEJSxQhfKA8PQc2Q+co2NccjLwfXjOaXaJj8MjxKfWvQLW/A4F5va0TPXz11mECD/zQ1BBk"/>
  <add key="Slave_InlodbBak_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EKFGkhVkQd6NlH1JM+zHdyGkgCE0citgMTdJbBUIbax6Oq2vEanVl+UXlLaYXY9AhqHHDS2c9HBOyuee2qYHOoCKmbMsGd/tpDhBpOSzu6A+"/>
  <add key="TelegramApiUrl" value="https://api.telegram.org" />
  <add key="RedisConnectionString" value="3f/mKScFYTdRgHoCbovh4tawHMx+19lThlvMMOgT1jF2CaDaB8d0ZA=="/>

  <!--新版MQ設定-->
  <add key="RabbitMQ.HostName" value="192.168.104.70" />
  <!--新版消息服务端口-->
  <add key="RabbitMQ.Port" value="5672" />
  <!--新版消息服务服务用户名-->
  <add key="RabbitMQ.UserName" value="hjmqu1" />
  <!--新版消息服务密码-->
  <add key="RabbitMQ.Password" value="qwertyuiop" />

  <!--BTIS配置開始-->
  <add key="TPGame.BTIS.ENTRANCE_URL" value="https://uat-btistaging.jxjxcdn.com"/>
  <add key="TPGame.BTIS.WALLET_API_URL" value="https://uat-btiapi.jxjxcdn.com" />
  <add key="TPGame.BTIS.GETTOKEN_API_URL" value="https://uat-btidataapi.jxjxcdn.com" />
  <add key="TPGame.BTIS.BETTINGHISTORY_API_URL" value="https://uat-bettinghistory.jxjxcdn.com" />
  <add key="TPGame.BTIS.API_AgentUserName" value="RTAirglow_d9sports" />
  <add key="TPGame.BTIS.API_AgentPassword" value="SDFi482ik5sx" />
  <add key="TPGame.BTIS.WALLET_API_CurrencyCode" value="CNY" />
  <add key="TPGame.BTIS.WALLET_API_CountryCode" value="CN" />
  <add key="TPGame.BTIS.WALLET_API_Group1ID" value="1" />
  <add key="TPGame.BTIS.WALLET_API_CustomerDefaultLanguage" value="zh" />
  <!--BTIS配置結束-->

  <add key="SaveBetLogToSQLiteJobIntervalSeconds" value="300" />

  <!--商戶代碼-->
  <add key="PlatformMerchantCode" value="MSL" />
  <!--以;区隔存放不同商戶資料-->
  <add key="CopyBetLogToMerchantCodes" value="" />
</appSettings>