@using BackSideWeb.Models.ViewModel.PublishRecord;
@model ReportRecordOptionViewModel
@{
    ViewData["Title"] = "投诉记录";
    var postId = ViewBag.PostId;
    var userId = ViewBag.UserId;
    string startDatedefault;
    if (string.IsNullOrWhiteSpace(postId) && string.IsNullOrWhiteSpace(userId))
    {
        startDatedefault = DateTime.Today.ToString("yyyy-MM-dd");
    }
    else
    {
        startDatedefault = "2023-01-01";
    }
    var endDatedefault = DateTime.Today.ToString("yyyy-MM-dd");
}

<div class="bg spacing gap system_filter" id="jqMemberFilter">
    <br />

    <div class="col">
        <div class="item">
            <div class="label_input column_layout">
                <label for="">
                    <p>投诉单ID</p>
                </label>
                <div class="form_set">
                    <input class="jqFilter" type="text" name="" id="reportId" placeholder="" value="" maxlength="50">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="item">
            <div class="label_input column_layout">
                <label for="">
                    <p>帖子ID</p>
                </label>
                <div class="form_set">
                    <input class="jqFilter" type="text" name="" id="postId" placeholder="" value="@postId" maxlength="50">
                </div>
            </div>
        </div>


    </div>
   
    <div class="col">
        <div class="item">
            <div class="label_input column_layout">
                <label for="">
                    <p>会员ID</p>
                </label>
                <div class="form_set">
                    <input class="jqFilter" type="text" name="" id="memberNo" placeholder="" value="@userId" maxlength="50">
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="item">
            <div class="label_input column_layout">
                <label for="">
                    <p>帖子区域</p>
                </label>
                @await Html.PartialAsync("Partial/_DropdownMenu", new DropdownMenuSetting
                {
                SettingId = "jqPostRegionalSelectList",
                Items = Model.PostRegionalListItem,
                })
            </div>
        </div>
    </div>

    <div class="col">
        <div class="item">
            <div class="col_p_1">
                <div class="label_input column_layout">
                    <label for="" class="m_hide">

                    </label>
                    <div class="form_set datepicker_text">
                        @Html.TextBox("jqStartDate", startDatedefault, new { id = "jqStartDate", @class = "width_set jqFilter" })
                        <span>至</span>
                        @Html.TextBox("jqEndDate", endDatedefault, new { id = "jqEndDate", @class = "width_set jqFilter" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="item">
            <div class="label_input column_layout">
                <label for="">
                    <p>投诉原因</p>
                </label>
                @await Html.PartialAsync("Partial/_DropdownMenu", new DropdownMenuSetting
                {
                SettingId = "jqReportTypeSelectList",
                Items = Model.ReportTypeListItem,
                })
            </div>
        </div>
    </div>

    <div class="col">
        <div class="item">
            <div class="label_input column_layout">
                <label for="">
                    <p>状态</p>
                </label>
                @await Html.PartialAsync("Partial/_DropdownMenu", new DropdownMenuSetting
                {
                SettingId = "jqStatusSelectList",
                Items = Model.ReportStatusListItem,
                })
            </div>
        </div>
    </div>

 


    <div class="col">

        <div class="item">
            <div class="btns">
                <a href="javascript:;" class="btn_default main_color jqSearchBtn">查询</a>
                <a href="javascript:;" class="btn_default main_color_line jqResetBtn">清空</a>
            </div>
        </div>
    </div>
</div>

<div id="jqContentRoot" style="display:block">
    <div class="bg gap">
        <div class="member_center_report agent_report table_overflow_x">
            <table>
                <thead>
                    <tr>
                        <th>投诉单ID</th>
                        <th>帖子ID</th>
                        <th>帖子区</th>
                        <th>投诉会员ID</th>
                        <th>送审时间</th>
                        <th>审核时间</th>
                        <th>投诉原因</th>
                        <th>详情描述</th>
                        <th>状态</th>
                        <th>审核</th>
                    </tr>
                </thead>
                <tbody id="jqGridContent">
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer_function_content space_between">
        <div class="jqPagination pagination"></div>
    </div>
</div>
<style>
    .col {
        margin-top: 10px;
    }

    .hrefcss a {
        color: blue; /* 使用父元素的颜色 */
    }

        .hrefcss a:hover,
        .hrefcss a:active,
        .hrefcss a:focus {
            color: blue; /* 鼠标悬停、激活和焦点时保持颜色不变 */
        }
</style>