@using ControllerShareLib.Helpers;
@using Web.Helpers;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="~/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="~/css/public.css" />
    <link type="text/css" rel="stylesheet" href="~/css/page_customized.css" />
    <link type="text/css" rel="icon" href="@WebResourceHelper.Content("~/favicon.ico")" />
    <partial name="~/Views/Shared/_GlobalVariables.cshtml" />
    <partial name="~/Views/Shared/_JavaScriptJquery.cshtml" />    
</head>
<body ontouchstart="">
    @RenderBody()
</body>

@await Html.PartialAsync("~/Views/Shared/_Loading.cshtml")
</html>