<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--IM体育服務設定↓↓↓-->
    <!--账号-->
    <add key="MerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi" />
    <!--服务地址-->
    <add key="ServiceUrl" value="https://uat-imoneapi.jxjxcdn.com" />
    <!--货币类型-->
    <add key="Currency" value="CNY" />
    <!--语言-->
    <add key="Language" value="ZH-CN" />
    <!--网站域名-->
    <add key="Linecode" value="jxtest" />
    <!--投注纪录每次取得区间-->
    <add key="PerOnceQueryMinutes" value="10" />
    <!--产品 401;301 -->
    <add key="ProductWallet" value="301" />
    <!--系統設定↓↓↓-->
    <!--数据库链接字符串-->
    <add key="ConnectionString" value="tr1kpq2d6qxGFaV5GubXlsV9dTNLM9XCBHWf7qAYYRg+VSOXgLRXwIbso2dIDyhwCu87TO4Q3sp1BWtQxM0bliPCY9EmBzczd4s4UTdP6mwGiVqHDdnlc21AKJeHS7tiQCr62+JtIE2EC35ovpHArLV0dCTdg/ZEXQxW3vAqWyw=" />
    <!--MQ設定↓↓↓-->
    <!--消息服务地址-->
    <add key="HostName" value="192.168.3.13" />
    <!--消息服务端口-->
    <add key="Port" value="5672" />
    <!--消息服务服务用户名-->
    <add key="UserName" value="hjmqu1" />
    <!--消息服务密码-->
    <add key="Password" value="qwertyuiop" />
    <!--异常Telegram通知設定↓↓↓-->
    <add key="TelegramAlarmBotToken" value="921243844:AAGBHWyLyzwHsBN2ZWw1XHId3qqMytH3xLY" />
    <add key="TelegramAlarmChatId" value="-385529787" />
    <add key="TelegramAlarmEnable" value="true" />
    <!--异常邮件接收人-->
    <add key="EmailList" value="alarm@mail.luck111.com" />
    <!--异常邮件发送接口-->
    <add key="EmailURL" value="http://mail.luck111.com:8082/SendEmail.ashx" />
    <!--將注單纪录另存到別的位置(以;区隔多组存取路径)-->
    <add key="SettingLocationWriteTo" value="C:\logs" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>