<div class="detail_modal_row">
    <div class="detail_modal_col_left">
        帖子區
    </div>
    <div class="detail_modal_col_right">
        廣場
    </div>
</div>
<div class="detail_modal_row">
    <div class="detail_modal_col_left">
        服務價格_最低
    </div>
    <div class="detail_modal_col_right">
        10000
    </div>
</div>
<div class="detail_modal_row">
    <div class="detail_modal_col_left">
        詳細地址
    </div>
    <div class="detail_modal_col_right">
        公交下面來左手邊一個胡同拔進
    </div>
</div>