@using BackSideWeb.Models.ViewModel
@model IncomeExpenseViewModel
@{
	ViewData["Title"] = "觅会员收付记录";
	var startDatedefault = DateTime.Now.ToString("yyyy-MM-dd");
	var endDatedefault = DateTime.Now.ToString("yyyy-MM-dd");
}

<div class="bg spacing gap system_filter" id="jqMemberFilter">
	<br />
	<div class="col">
		<div class="item">
			<div class="label_input column_layout">
				<label for="">
					<p>订单号</p>
				</label>
				<div class="form_set">
					<input class="jqFilter" type="text" name="" id="jqId" placeholder="" value="" maxlength="20">
				</div>
			</div>
		</div>
		<div class="item">
			<div class="btns">
				<a href="javascript:;" class="btn_default main_color jqSearchBtn">查询</a>
				<a href="javascript:;" class="btn_default main_color_line jqResetBtn" id='jqResetBtn'>清空</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="item">
			<div class="label_input column_layout">
				<label for="">
					<p>会员ID</p>
				</label>
				<div class="form_set">
					<input class="jqFilter" type="text" name="" id="jqUserId" placeholder="" maxlength="20">
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="item jqAdvanceFilter">
			<div class="label_input column_layout">
				<label for="">
					<p>帖子区域</p>
				</label>
				<select id="jqPostTypeSelectList" class="dropdown_toggle" >
					<option value="0" class="dropdown_item jqDrowDownMenuItem">全部</option>
					<option value="1" class="dropdown_item jqDrowDownMenuItem">广场</option>
					<option value="2" class="dropdown_item jqDrowDownMenuItem">寻芳阁</option>
					<option value="3" class="dropdown_item jqDrowDownMenuItem">官方</option>
				</select>
			</div>
		</div>
	</div>
@*	<div class="col">
		<div class="item jqAdvanceFilter">
			<div class="label_input column_layout">
				<label for="">
					<p>收付行为</p>
				</label>
				@await Html.PartialAsync("Partial/_DropdownMenu", new DropdownMenuSetting
				{
					SettingId = "jqCategorySelectList",
					Items = Model.PayActionItems,
				})
			</div>
		</div>
	</div>*@
	<div class="col">
		<div class="item jqAdvanceFilter">
			<div class="label_input column_layout">
				<label for="">
					<p>收付行为</p>
				</label>
				<select id="jqCategorySelectList" class="dropdown_toggle">
					<option value='-1'>全部</option>
					<option value='0'>帖子解锁</option>
					<option value='1'>支付预约金</option>
					<option value='2'>退回预约金</option>
					<option value='4'>帖子收益</option>
					<option value='5'>解锁退款</option>
					<option value='6'>支付全额</option>
					<option value='7'>退回全额</option>
				</select>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="item jqAdvanceFilter">
			<div class="col_p_1">
				<div class="label_input column_layout">
					<label for="" class="m_hide">
						<p>账变时间</p>
					</label>
					<div class="form_set datepicker_text">
						@Html.TextBox("jqStartDate", startDatedefault, new { id = "jqStartDate", @class = "width_set jqFilter" })
						<span>至</span>
						@Html.TextBox("jqEndDate", endDatedefault, new { id = "jqEndDate", @class = "width_set jqFilter" })
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="jqContentRoot" style="display:none">
	<div class="bg gap">
		<div class="member_center_report agent_report table_overflow_x">
			<table>
				<thead>
					<tr>
						<th>订单号</th>
						<th>账变时间</th>
						<th>收付行为</th>
						<th>帖子区域</th>
						<th>会员ID</th>
						<th>余额账变￥</th>
						<th>钻石账变</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody id="jqGridContent">
				</tbody>
			</table>
		</div>
	</div>
	<div class="footer_function_content space_between">
		<div class="jqPagination pagination"></div>
	</div>
</div>
<script>
	$(function(){


		$("#jqResetBtn").click(function(){

			$("#jqId").val("");
			$("#jqUserId").val("");
			$("#jqPostTypeSelectList").val(0);
			$("#jqCategorySelectList").val(-1);

		})

		$("#jqPostTypeSelectList").change(function () {

			 var postType=$(this).val();
			 var optionHtml="<option value='-1'>全部</option>";
			 if(postType==1 || postType==2)
			 {
				optionHtml += "<option value='0'>帖子解锁</option><option value='4'>帖子收益</option><option value='5'>解锁退款</option>";
	
			 }else if(postType==3)
			 {
				optionHtml += "<option value='1'>支付预约金</option><option value='2'>退回预约金</option><option value='6'>支付全额</option><option value='7'>退回全额</option><option value='4'>帖子收益</option>";
			 }else
			 {
				optionHtml += "<option value='0'>帖子解锁</option><option value='1'>支付预约金</option><option value='2'>退回预约金</option><option value='4'>帖子收益</option><option value='5'>解锁退款</option><option value='6'>支付全额</option><option value='7'>退回全额</option>";
			 }
			$("#jqCategorySelectList").html(optionHtml);
		})



	})
</script>