<?xml version="1.0"?>
<appSettings>
	<!--SIT-->
	<!--数据库链接字符串-->
	<add key="ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn02GqyWcr6oMWJ/ScZa94YGF0P1IvYtG6xtfBxCoxqRIPciOM8X2bfBSUfk3uQePRcB+JE4TXyrk8ZvN4TCSY0gyfX2OIqCNozOXszF51RiaX7HTFXXAWIIita1c2OCkqfPcu6AGt7+WTDzyFkRjlNcqrk3SSLxKL0NU14pPBUvV"/>
	<!--数据库链接字符串-->
	<add key="ConnectionString_Bak" value="tr1kpq2d6qw8M4pgcxxvn02GqyWcr6oMWJ/ScZa94YGF0P1IvYtG6xtfBxCoxqRIPciOM8X2bfBSUfk3uQePRe9QnblT9CbHWE0v4Ma11/Li3Udey9g4hW1Q2NAFKhCn+p2HaxXE9ynluIy71M33jyF5gKtlXfdh3i9886ZmMeIH58SHIHIAvMTV5qot44zE"/>
	<!--登录链接字符串-->
	<add key="ConnectionString_Login" value="tr1kpq2d6qw8M4pgcxxvn02GqyWcr6oMWJ/ScZa94YGF0P1IvYtG6xtfBxCoxqRIPciOM8X2bfBSUfk3uQePRcB+JE4TXyrk8ZvN4TCSY0gyfX2OIqCNozOXszF51RiaX7HTFXXAWIIita1c2OCkqfPcu6AGt7+WTDzyFkRjlNcqrk3SSLxKL0NU14pPBUvV"/>

	<!--公共缓存服务器地址，默认端口27777-->
	<add key="RedisConnectionString" value="3f/mKScFYTdRgHoCbovh4tawHMx+19lThlvMMOgT1jF2CaDaB8d0ZA=="/>
	<add key="HostUrl" value="sv.hecbet.com"/>
	<add key="MSSealAddress" value="http://192.168.104.71:8787"/>
	<add key="MSSealSalt" value="456ERTY"/>

	<!--IM体育电子相关配置-->
	<!--商家名称-->
	<add key="IMSportsbookMerchantName" value="jxtest"/>
	<!--商家代号-->
	<add key="IMSportsbookMerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi"/>
	<!--用户登录地址-->
	<add key="IMSportsbookLoginUrl" value=""/>
	<!--反代服务地址-->
	<add key="IMSportsbookServiceBaseUrl" value="https://uat-imoneapi.jxjxcdn.com"/>
	<!--语言-->
	<add key="IMSportsbookLanguage" value="ZH-CN"/>
	<!--货币单位-->
	<add key="IMSportsbookCurrency" value="CNY"/>
	<!--IM体育相关配置  (結束)-->

	<!--IMKY配置開始-->
	<!--商户编码-->
	<add key="TPGame.IMKY.MerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi"/>
	<!--服务地址(基础接口)-->
	<add key="TPGame.IMKY.ServiceBaseUrl" value="https://uat-imoneapi.jxjxcdn.com"/>
	<!--货币类型-->
	<add key="TPGame.IMKY.Currency" value="CNY"/>
	<!--语言-->
	<add key="TPGame.IMKY.Language" value="ZH-CN"/>
	<!--IMKY配置結束-->

	<!--PGSL配置開始-->
	<!--服务地址-->
	<add key="TPGame.PGSL.ServiceBaseUrl" value="https://uat-pgapi.jxjxcdn.com"/>
	<!--GrabServiceBaseUrl-->
	<add key="TPGame.PGSL.GrabServiceBaseUrl" value="https://uat-pgapi.jxjxcdn.com"/>
	<!--OperatorToken-->
	<add key="TPGame.PGSL.OperatorToken" value="eb27086b1900c8470f7ee302af16fc06"/>
	<!--SecretKey-->
	<add key="TPGame.PGSL.SecretKey" value="c1e71fb1ece822a7f51902aec0bd2759"/>
	<!--Currncy-->
	<add key="TPGame.PGSL.Currncy" value="CNY"/>
	<!--Language-->
	<add key="TPGame.PGSL.Language" value="zh"/>
	<!--LunchGameUrl-->
	<add key="TPGame.PGSL.LunchGameUrl" value="https://public.pg-redirect.net"/>
	<!--LunchMobileGameUrl-->
	<add key="TPGame.PGSL.LunchMobileGameUrl" value="https://m.pg-redirect.net"/>
	<!--PGSL配置結束-->

	<add key="CommonHash" value="!QAZ@WSX"/>
	
	<!--OBSP配置開始-->
	<add key="TPGame.OBSP.ApiRootUrl" value="https://uat-obspapi.jxjxcdn.com" />
	<add key="TPGame.OBSP.merchantCode" value="681197"/>
	<add key="TPGame.OBSP.key" value="s2tQX?*mT+N&amp;#*WYyljg9yWbSiOw13" />
	<!--人民币-->
	<add key="TPGame.OBSP.currency" value="1" />
	<!--OBSP配置結束-->

	<!--LC Game 配置開始-->
	<!--服务登录地址-->
	<add key="LCServiceBaseUrl" value="https://uat-lcapi.jxjxcdn.com"/>
	<!--账号-->
	<add key="LCAgentID" value="61244"/>
	<!--密鑰-->
	<add key="LCMD5Key" value="C6CBD7366C0F4F5F"/>
	<add key="LCDesKey" value="D2FD91C7E19E454B"/>
	<!--货币类型-->
	<add key="LCCur" value="CNY"/>
	<!--网站域名-->
	<add key="LCLinecode" value="jxwin"/>
	<!--LC Game 配置結束-->

	<!--IMSG配置開始-->
	<!--商家代号-->
	<add key="TPGame.IMSG.MerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi"/>
	<!--服务地址-->
	<add key="TPGame.IMSG.ServiceBaseUrl" value="https://uat-imoneapi.jxjxcdn.com/"/>
	<!--语言-->
	<add key="TPGame.IMSG.Language" value="ZH-CN"/>
	<!--货币单位-->
	<add key="TPGame.IMSG.Currency" value="CNY"/>
	<!--IMSG配置結束-->

	<!--OBEB配置開始-->
	<!--服务地址(基础接口)-->
	<add key="TPGame.OBEB.ServiceBaseUrl" value="https://uat-obeb.jxjxcdn.com"/>
	<!--DataServiceBaseUrl(数据接口)-->
	<add key="TPGame.OBEB.DataServiceBaseUrl" value="https://uat-obebdataapi.jxjxcdn.com"/>
	<!--商户编码-->
	<add key="TPGame.OBEB.MerchantName" value="210503GOGDEV"/>
	<!--商户编码-->
	<add key="TPGame.OBEB.MerchantCode" value="S3HZP"/>
	<!--AES密钥-->
	<add key="TPGame.OBEB.AESKey" value="ADI07wrvCgMfG46u"/>
	<!--MD5密钥-->
	<add key="TPGame.OBEB.MD5Key" value="yOCLg0ZCggGkwv7H"/>
	<!--OBEB配置結束-->

	<!--IM eBet 真人相关配置-->
	<!--商家名称-->
	<add key="IMeBetMerchantName" value="jxS"/>
	<!--商家代号-->
	<add key="IMeBetMerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi"/>
	<!--用户登录地址-->
	<add key="IMeBetLoginUrl" value=""/>
	<!--反代服务地址-->
	<add key="IMeBetServiceBaseUrl" value="http://uat-imoneapi.jxjxcdn.com"/>
	<!--语言-->
	<add key="IMeBetLanguage" value="ZH-CN"/>
	<!--货币单位-->
	<add key="IMeBetCurrency" value="CNY"/>
	<!--IM eBet 真人相关配置  (結束)-->

	<!--IMVR配置開始-->
	<!--商家代号-->
	<add key="TPGame.IMVR.MerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi"/>
	<!--服务地址-->
	<add key="TPGame.IMVR.ServiceBaseUrl" value="https://uat-imoneapi.jxjxcdn.com/"/>
	<!--语言-->
	<add key="TPGame.IMVR.Language" value="ZH-CN"/>
	<!--货币单位-->
	<add key="TPGame.IMVR.Currency" value="CNY"/>
	<!--IMVR配置結束-->

	<!--新AG服务登录地址 透過反代SIT UAT 可用-->
	<add key="AGLoginBaseUrl" value="https://gci.jxjxcdn.com/" />
	<!--后台服务地址-->
	<add key="AGServiceBaseUrl" value="https://gi.jxjxcdn.com/" />

	<!--PP电子相关配置-->
	<!--商家名称-->
	<add key="IMPPMerchantName" value="jxtest"/>
	<!--商家代号-->
	<add key="IMPPMerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi"/>
	<!--用户登录地址-->
	<add key="IMPPLoginUrl" value=""/>
	<!--反代服务地址-->
	<add key="IMPPServiceBaseUrl" value="https://uat-imoneapi.jxjxcdn.com"/>
	<!--语言-->
	<add key="IMPPLanguage" value="ZH-CN"/>
	<!--货币单位-->
	<add key="IMPPCurrency" value="CNY"/>
	<!--PP电子相关配置  (結束)-->

  <!--FYES配置開始-->
  <!--服务地址(基础接口)-->
  <add key="TPGame.FYES.ServiceBaseUrl" value="https://api.ksdj004.com"/>
  <!--商戶驗證Key-->
  <add key="TPGame.FYES.AuthorizationKey" value="a340d377ad8a428eacda9879393f054a"/>
  <!--币种-->
  <add key="TPGame.FYES.Currency" value="CNY"/>
  <!--语言-->
  <add key="TPGame.FYES.Language" value="CHN"/>
  <!--FYES配置結束-->

  <!--AWCSP配置開始-->
  <!--服务地址-->
  <add key="TPGame.AWCSP.ServiceBaseUrl" value="https://tttint.onlinegames22.com/"/>
  <!--代理ID作为身分确认用-->
  <add key="TPGame.AWCSP.AgentID" value="ds20231"/>
  <!--Security code 认证码-->
  <add key="TPGame.AWCSP.Cert" value="okp33qINSpIFAoGYaL4"/>
  <!--AWCSP配置結束-->
</appSettings>
