<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--環境變數:資料種類有  Development, SIT, UAT, Production-->
	<add key="Environment" value="Development" />
	<add key="TelegramApiUrl" value="https://api.telegram.org" />
	<add key="Master_Inlodb_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EAnx2wFm7rUYvqiAOKsNP3tJptTYdpFwE9d3BtEJSxQhfKA8PQc2Q+co2NccjLwfXjOaXaJj8MjxKfWvQLW/A4F5va0TPXz11mECD/zQ1BBk"/>
	<add key="Slave_InlodbBak_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EKFGkhVkQd6NlH1JM+zHdyGkgCE0citgMTdJbBUIbax6Oq2vEanVl+UXlLaYXY9AhqHHDS2c9HBOyuee2qYHOoCKmbMsGd/tpDhBpOSzu6A+"/>
	<add key="RedisConnectionString" value="3f/mKScFYTdRgHoCbovh4tawHMx+19lThlvMMOgT1jF2CaDaB8d0ZA=="/>

	<!--新版MQ設定-->
	<add key="RabbitMQ.HostName" value="192.168.104.70" />
	<!--新版消息服务端口-->
	<add key="RabbitMQ.Port" value="5672" />
	<!--新版消息服务服务用户名-->
	<add key="RabbitMQ.UserName" value="hjmqu1" />
	<!--新版消息服务密码-->
	<add key="RabbitMQ.Password" value="qwertyuiop" />

	<!--OBFI配置開始-->
	<!--服务地址-->
	<add key="TPGame.OBFI.ServiceBaseUrl" value="https://uat-obapi.jxjxcdn.com"/>
	<!--GrabServiceBaseUrl-->
	<add key="TPGame.OBFI.GrabServiceBaseUrl" value="https://uat-obinfo.jxjxcdn.com"/>
	<!--商户编码-->
	<add key="TPGame.OBFI.MerchantCode" value="d3new21b8ffaf"/>
	<!--密钥-->
	<add key="TPGame.OBFI.SecretKey" value="i0Kw117wREYqcY2C"/>
	<!--IV向量-->
	<add key="TPGame.OBFI.IV" value="0102030405060708"/>
	<!--OBFI配置結束-->

	<!--商戶代碼-->
	<add key="PlatformMerchantCode" value="MSL" />
	<!--以;区隔存放不同商戶資料-->
	<add key="CopyBetLogToMerchantCodes" value="" />
</appSettings>