<div class="main simple">
    <div class="container">
        <div class="pt_wrap">
            <div class="pt_banner pp"></div>
            <div class="pt_content">
                <div class="pt_list_bg">
                    @Html.Partial("~/Views/ThirdParty/Partial/_SlotTabPartial.cshtml")
                    <div class="jqGameList"></div>
                </div>
            </div>
        </div>
    </div>
</div>