<appSettings>
    <!--商戶代碼-->
    <add key="PlatformMerchantCode" value="MSL" />
    <add key="Environment" value="Development" />
    
    <!--UAT-->
    <!--数据库链接字符串-->
    <!--<add key="ConnectionString" value="tr1kpq2d6qz+Gd2WgWPgf0AzSgfl0dg7Co0mQyp8y/FRnwR0CM1+75rK6o3aNWHaZVAzUMdBTb9afXQWvqA8xNTOMkhUBd5dAEVHtqx57h5dhJHQml3ygH+Yup1+0yPJ7PJ6GvatSy9aKEfkUKQvuP823BskETofGZv1m7ZyR3F1ZYxDv1NCdg==" />-->
    <!--数据库链接字符串-->
    <!--<add key="ConnectionString_Bak" value="tr1kpq2d6qz+Gd2WgWPgf1jzG4a4OwlqUyOd54VPXQXBO4mVZsD/Na1H0z8bc9F49pYablbItDhKzI06LrrZa8oCPSkx4utp0SEM35YyeVTRmnN7z6nGPWEXwoRs0H+W3iR2kMPSrh9o9aCIwgZiulFe9Ffgq0jCYEzypkgXOT6PCEDq+D5rjA=="/>-->
    <!--登录链接字符串-->
    <!--<add key="ConnectionString_Login" value="tr1kpq2d6qz+Gd2WgWPgf1jzG4a4OwlqUyOd54VPXQXBO4mVZsD/NV7YQFKg1zhYYvSlNhTIwC8XSoa1Gwn0dQd5URsgUv+st42IHJE5EUAaBLAFDLFybPjUmGvzCHjB4XK7DJrND1Cm/4bIQupe9yPmM1E7XgBL1JAjErtS19QXOOZltSAQTw=="/>-->

    <!--SIT-->
    <!--数据库链接字符串-->
    <!--<add key="ConnectionString" value="tr1kpq2d6qyihzFFvH+iw8nK3y4UaMrroNfljLDG5xvDwehpumaC1vYMl8OZvq0b8SEFZAg1NU2PuDCHC/BzGHVRyccu2STPRQbE5an2MXANFrntDG6mm0OxAjUZm1NfKZzzYkURd9282jW55TXF0ayIOeddMHzx7YsafGkj/74="/>-->
    <!--数据库链接字符串-->
    <!--<add key="ConnectionString_Bak" value="tr1kpq2d6qyihzFFvH+iw8nK3y4UaMrroNfljLDG5xvDwehpumaC1vYMl8OZvq0b8SEFZAg1NU2PuDCHC/BzGHVRyccu2STPRQbE5an2MXANFrntDG6mm0OxAjUZm1NfKZzzYkURd9282jW55TXF0ayIOeddMHzx7YsafGkj/74="/>-->
    <!--登录链接字符串-->
    <!--<add key="ConnectionString_Login" value="tr1kpq2d6qyihzFFvH+iw8nK3y4UaMrroNfljLDG5xvDwehpumaC1vYMl8OZvq0b8SEFZAg1NU2PuDCHC/BzGHVRyccu2STPRQbE5an2MXANFrntDG6mm0OxAjUZm1NfKZzzYkURd9282jW55TXF0ayIOeddMHzx7YsafGkj/74="/>-->

    <!--DEV-->
    <!--数据库链接字符串-->
    <add key="ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EAnx2wFm7rUYvqiAOKsNP3tJptTYdpFwE9d3BtEJSxQhfKA8PQc2Q+co2NccjLwfXjOaXaJj8MjxKfWvQLW/A4F5va0TPXz11mECD/zQ1BBk"/>
    <!--数据库链接字符串-->
    <add key="ConnectionString_Bak" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EAnx2wFm7rUYvqiAOKsNP3tJptTYdpFwE9d3BtEJSxQhfKA8PQc2Q+co2NccjLwfXjOaXaJj8MjxKfWvQLW/A4F5va0TPXz11mECD/zQ1BBk"/>
    <!--登录链接字符串-->
    <add key="ConnectionString_Login" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EAnx2wFm7rUYvqiAOKsNP3tJptTYdpFwE9d3BtEJSxQhfKA8PQc2Q+co2NccjLwfXjOaXaJj8MjxKfWvQLW/A4F5va0TPXz11mECD/zQ1BBk"/>

    <!--应用程序名称-->
    <add key="SvName" value="WEB SV（SIT）"/>
    <!--应用程序IP-->
    <add key="SvIp" value="websv.sit.n51plus.ark88.local"/>

    <!--新版MQ設定-->
    <add key="RabbitMQ.HostName" value="192.168.104.70" />
    <!--新版消息服务端口-->
    <add key="RabbitMQ.Port" value="5672" />
    <!--新版消息服务服务用户名-->
    <add key="RabbitMQ.UserName" value="hjmqu1" />
    <!--新版消息服务密码-->
    <add key="RabbitMQ.Password" value="qwertyuiop" />
    
    <add key="RedisConnectionString" value="3f/mKScFYTdRgHoCbovh4tawHMx+19lThlvMMOgT1jF2CaDaB8d0ZA=="/>
    <add key="HostUrl" value="sv.hecbet.com"/>
    <!--<add key="MSSealAddress" value="http://192.168.104.71:8787"/>-->
    <!--<add key="MSSealAddress" value="https://open.luoznz.com"/>-->
    <add key="MSSealAddress" value="http://localhost:8787"/>
    <add key="MSSealSalt" value="456ERTY"/>
</appSettings>