<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <!--商戶代碼-->
    <add key="PlatformMerchantCode" value="CTL" />
    <add key="EnvironmentCode" value="S" />
    <!--後台測試-->
    <add key="ConnectionString" value="tr1kpq2d6qxK101TI+7VO07u9PKcrO24BCAe0VZgO58+pIz2r55FSQya3HGHEXjn1rc21KJHhIZMXtRzQk3cEn3OfqdHptjxYOq+8DR6+Yzv5JT7/CjIsNpE1aTjOQ+ZsgcXeOYKWqtBXOJEQaM8NtL+YgzZPxpj72mRWvz+YIE=" />

    <!--SendGrid MailProvier相關設定開始-->
    <add key="SendGrid.ApiUrl" value="https://api.sendgrid.com/v3/mail/send" />
    <add key="SendGrid.Token" value="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" />
    <add key="SendGrid.FromMail" value="mis@ark88.net" />
    <!--SendGrid相關設定結束-->

    <!--環境變數:資料種類有  Development, SIT, UAT, Production-->
    <add key="Environment" value="SIT" />
    <add key="TelegramApiUrl" value="https://api.telegram.org" />
    <add key="cacheAddress" value="websv.sit.n51plus.ark88.local:27777" />
    <add key="RedisConnectionString" value="iHwzMg66NpX+i3pckuWdbHRvmIpsV1pY03JUvNNDJ6HhgWblqieuqF3XXp8ZATTJ" />

    <add key="Master_Inlodb_ConnectionString" value="tr1kpq2d6qxK101TI+7VO07u9PKcrO24BCAe0VZgO58+pIz2r55FSQya3HGHEXjn1rc21KJHhIZMXtRzQk3cEn3OfqdHptjxYOq+8DR6+Yzv5JT7/CjIsNpE1aTjOQ+ZsgcXeOYKWqtBXOJEQaM8NtL+YgzZPxpj72mRWvz+YIE=" />
    <add key="Slave_InlodbBak_ConnectionString" value="tr1kpq2d6qxK101TI+7VO07u9PKcrO24BCAe0VZgO58+pIz2r55FSQya3HGHEXjnJJmT9teSgTZRcEKoSVs+WSPlUf2f3uDPcNpvTNjUuY/GbUMbUGD4Quahc9mPvRnIO1Qt/ONUNYC+mpwMpQ+AcGgJOecQtZVMNBNp6+2wD5k=" />
    <add key="ConnectionString_Bak" value="tr1kpq2d6qxK101TI+7VO07u9PKcrO24BCAe0VZgO58+pIz2r55FSQya3HGHEXjn1rc21KJHhIZMXtRzQk3cEn3OfqdHptjxYOq+8DR6+Yzv5JT7/CjIsNpE1aTjOQ+ZsgcXeOYKWqtBXOJEQaM8NtL+YgzZPxpj72mRWvz+YIE=" />

    <add key="CommonDataHash" value="!@#$2wsx" />
    <add key="CommonHash" value="!@#$2wsx" />
    <add key="EmailHash" value="!@#$2wsx" />

    <!--WEBSV SIT-->
    <!--数据库链接字符串-->
    <!--<add key="ConnectionString" value="tr1kpq2d6qxK101TI+7VO07u9PKcrO24BCAe0VZgO58+pIz2r55FSQya3HGHEXjn1rc21KJHhIZMXtRzQk3cEn3OfqdHptjxYOq+8DR6+Yzv5JT7/CjIsNpE1aTjOQ+ZsgcXeOYKWqtBXOJEQaM8NtL+YgzZPxpj72mRWvz+YIE=" />-->
    <!--数据库链接字符串-->
    <!--<add key="ConnectionString_Bak" value="tr1kpq2d6qxK101TI+7VO07u9PKcrO24BCAe0VZgO58+pIz2r55FSQya3HGHEXjn1rc21KJHhIZMXtRzQk3cEn3OfqdHptjxYOq+8DR6+Yzv5JT7/CjIsNpE1aTjOQ+ZsgcXeOYKWqtBXOJEQaM8NtL+YgzZPxpj72mRWvz+YIE=" />-->

    <!--WEBSV UAT-->
    <!--数据库链接字符串 (使用Inlodb) -->
    <!--<add key="ConnectionString" value="tr1kpq2d6qzKlFW9fr3gFok1pwF4IpowBT+59LqUkVPTb1LRqa697Kv0S4zvdoTLeNCxo3UhPItSWx2HDskNEezDs9OcO3zNCriysmIZVmR2uZXiLvJSSVd9V9OwKFoZqdOvbDkNDCOFeu1sc/7j3ueeO0acB7wjLO3cpVItAT2ongrri3q56iFWpPhPV8PG" />-->
    <!--数据库链接字符串 (使用Inlodb) -->
    <!--<add key="ConnectionString_Bak" value="tr1kpq2d6qzKlFW9fr3gFok1pwF4Ipow6nMVV+tsqJOHFz5TC84NmssZl1pUVFHm7CxvdgGgqkGeF1E1VfmjY5Yez9Kota6rBKnNjMp1ewuyLgcoVEUbdECTf9ebR7YB+BUwh0MNNFtQf/PaTBSfECbwKpkrDJ50lLaOS1DF3Oea9YmTRHmslPMVzzXvSgk/pXrIypJBK4g=" />-->

    <!--舊版MQ設定↓↓↓-->
    <!--消息服务地址-->
    <add key="HostName" value="192.168.104.32" />
    <!--消息服务端口-->
    <add key="Port" value="5672" />
    <!--消息服务服务用户名-->
    <add key="UserName" value="hjmqu1" />
    <!--消息服务密码-->
    <add key="Password" value="qwertyuiop" />

    <!--新版MQ設定-->
    <add key="RabbitMQ.HostName" value="192.168.104.32" />
    <!--新版消息服务端口-->
    <add key="RabbitMQ.Port" value="5672" />
    <!--新版消息服务服务用户名-->
    <add key="RabbitMQ.UserName" value="hjmqu1" />
    <!--新版消息服务密码-->
    <add key="RabbitMQ.Password" value="qwertyuiop" />

    <!--IMSG配置開始-->
    <!--IMSG服务是否启用，1：启用，0：禁用-->
    <add key="TPGame.IMSG.Enabled" value="1" />
    <!--商家代号-->
    <add key="TPGame.IMSG.MerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi" />
    <!--服务地址-->
    <add key="TPGame.IMSG.ServiceBaseUrl" value="https://uat-imoneapi.jxjxcdn.com/" />
    <!--语言-->
    <add key="TPGame.IMSG.Language" value="ZH-CN" />
    <!--货币单位-->
    <add key="TPGame.IMSG.Currency" value="CNY" />
    <!--IMSG配置結束-->

    <!--IMVR配置開始-->
    <!--IMVR服务是否启用，1：启用，0：禁用-->
    <add key="TPGame.IMVR.Enabled" value="1" />
    <!--商家代号-->
    <add key="TPGame.IMVR.MerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi" />
    <!--服务地址-->
    <add key="TPGame.IMVR.ServiceBaseUrl" value="https://uat-imoneapi.jxjxcdn.com/" />
    <!--语言-->
    <add key="TPGame.IMVR.Language" value="ZH-CN" />
    <!--货币单位-->
    <add key="TPGame.IMVR.Currency" value="CNY" />
    <!--IMVR配置結束-->

    <add key="TPGame.ABEB.PropertyId" value="5524784" />

    <add key="SaveBetLogToSQLiteJobIntervalSeconds" value="180" />

    <!--網建短信通SMS 相關設定開始-->
    <add key="WangJianSMS.Url" value="http://utf8.api.smschinese.cn" />
    <add key="WangJianSMS.UID" value="Muucb335" />
    <add key="WangJianSMS.Key" value="7C7e29SmEWguq8DsKNtDbVswXXSKmnZ5" />
    <add key="WangJianSMS.BalanceUrl" value="http://www.smschinese.cn" />
    <!--網建短信通SMS 相關設定結束-->

    <!--海客信使SMS 相關設定開始-->
    <add key="HeyskySMS.Url" value="http://api2.santo.cc" />
    <add key="HeyskySMS.CPID"  value="yr1ea2" />
    <add key="HeyskySMS.CPPwd" value="WVTx0u4v" />
    <!--海客信使SMS 相關設定結束-->

    <!--閃速碼SMS 相關設定開始-->
    <add key="Shansuma.Url" value="http://api.shansuma.com/gateway.do" />
    <add key="Shansuma.AppId"  value="hw_10657" />
    <add key="Shansuma.SecretKey" value="7bf2caddb0732193f178fcaf6409f3fe" />
    <add key="Shansuma.TemplateId" value="ST_2021111500000001" />
    <add key="Shansuma.SMSSign" value="大象" />
    <!--閃速碼SMS 相關設定結束-->

    <!--麥訊通SMS 相關設定開始-->
    <add key="Mxtong.Url" value="https://www.weiwebs.cn" />
    <add key="Mxtong.Account"  value="MXT801846" />
    <add key="Mxtong.Password" value="Mxt801846" />
    <!--麥訊通SMS 相關設定結束-->

    <!--阿里雲OSS設定開始-->
    <add key="AliYun.AccessKeyId" value="LTAI5tRfDdpUFhev347bJBJj" />
    <add key="AliYun.AccessKeySecret" value="uKTIRWFiqsIQiZUY62tmPNoun1UoVi" />
    <add key="AliYun.Endpoint" value="oss-cn-hongkong.aliyuncs.com" />
    <add key="AliYun.BucketName" value="amd-sit" />
    <add key="AliYun.CdnDomain" value="https://amd-sit-banner.rtykf.com" />
    <!--阿里雲OSS設定結束-->
</appSettings>