<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="ConnectionString.DEV" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EAnx2wFm7rUYvqiAOKsNP3tJptTYdpFwE9d3BtEJSxQhfKA8PQc2Q+co2NccjLwfXjOaXaJj8MjxKfWvQLW/A4F5va0TPXz11mECD/zQ1BBk"></add>
        <add key="ConnectionString.SIT" value="tr1kpq2d6qw8M4pgcxxvn02GqyWcr6oMWJ/ScZa94YGF0P1IvYtG6xtfBxCoxqRIPciOM8X2bfBSUfk3uQePRcB+JE4TXyrk8ZvN4TCSY0gyfX2OIqCNozOXszF51RiaX7HTFXXAWIIita1c2OCkqfPcu6AGt7+WTDzyFkRjlNcqrk3SSLxKL0NU14pPBUvV"></add>
        <add key="ConnectionString.UAT" value="tr1kpq2d6qzKrDM3wdsHWqawTzjgszHa1vjjswG8NDDfhv4+ViF30DYMiCB7Q8qMjLuRKwF0Z1NZEWGIxYAs03+rucFXnqRuM7sr/Llr8beovQKDqKHdimibnaSnxdokaK3QQNch3ZjU0rRox3NM5uumNeG2Z6hvJInhTR8BP+2DGjal1bKy20ZqSb8vX6jQ7S6nev1RxF0="></add>

        <add key="CommonHash.DEV" value="!QAZ@WSX"></add>
        <add key="CommonHash.SIT" value="!QAZ@WSX"></add>
        <add key="CommonHash.UAT" value="!QAZ@WSX"></add>
    </appSettings>    
</configuration>
