<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="c:\temp\log\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File" name="allfile" fileName="${basedir}/logs/${level}_${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${iis-site-name}:${machinename}|${logger}|${message}${onexception:${newline}${exception:format=ToString}}" encoding="utf-8" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn" />
		<logger name="Microsoft.AspNetCore.Hosting.Diagnostics*" finalMinLevel="Warn" />

		<!--All logs-->
		<logger name="*" minlevel="Info" writeTo="allfile" />
	</rules>
</nlog>