<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date ：%message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]"/>
        <footer value="[Footer]"/>
        <conversionPattern value="CreateTime:%date ThreadID:[%thread] Level：%-5level Description：%message%newline"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]"/>
        <footer value="[Footer]"/>
        <conversionPattern value="CreateTime:%date ThreadID:[%thread] Level：%-5level Description：%message%newline"/>
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <connectionString value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Work\cvs_root\log4net-1.2\access.mdb;User Id=;Password=;"/>
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="1024"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
    </appender>
    <root>
      <appender-ref ref="LogFileAppender"/>
      <!--appender-ref ref="ConsoleAppender" /-->
      <!--appender-ref ref="EventLogAppender" /-->
      <!--appender-ref ref="AdoNetAppender" /-->
    </root>
  </log4net>
  <appSettings>
    <!--账号-->
    <add key="VendorID" value="azxF7O4MJeU"/>
    <!--服务地址-->
    <add key="URL" value="http://Sportsbookapi.hec188.com:8888/sportapi/api"/>
    <!--货币类型-->
    <add key="Currency" value="13"/>
    <!--数据库链接字符串-->
    <!--<add key="ConnectionString" value="tr1kpq2d6qzZxxwFxbt9KI79M7+FRRGUO9S5tM2Y1x+FEnVBmTYKaOh6UiOp0udUzi4Qnn2dhviLEHEGHIifjN0FdrP+k+W61eP9ceJkubAEz0fHnK6r2joRpX8AXvMo/4zrgfGC/BTurcv67aypj5XPJrArYi0v8od24gAkEZOCRPoNYN+wIQ==" />-->
    <add key="ConnectionString" value="tr1kpq2d6qz+Gd2WgWPgf9YaUlA7aTrnMRi0QYGOAbOpTxkW9EzAyfjSga0uCMQ5clsa85s88sOoDyKJSEz7edR7f2xH8aida4ZpaZzvxUbgsBw6A6CsCbHKcMkvuDVi0paYKrbam5cNQjUD9gc8hw=="/>
    <!--异常邮件接收人-->
    <add key="EmailList" value="alarm@mail.luck111.com"/>
    <!--异常邮件发送接口-->
    <add key="EmailURL" value="http://mail.luck111.com:8082/SendEmail.ashx"/>
    <!--消息服务地址-->
    <add key="HostName" value="192.168.10.100"/>
    <!--消息服务端口-->
    <add key="Port" value="5672"/>
    <!--消息服务服务用户名-->
    <add key="UserName" value="hjmqu1"/>
    <!--消息服务密码-->
    <add key="Password" value="qwertyuiop"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
