<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--環境變數:資料種類有  Development, SIT, UAT, Production-->
	<add key="Environment" value="Development" />
  <!--ms-sit-->
  <!--<add key="Master_Inlodb_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn02GqyWcr6oMWJ/ScZa94YGF0P1IvYtG6xtfBxCoxqRIPciOM8X2bfBSUfk3uQePRcB+JE4TXyrk8ZvN4TCSY0gyfX2OIqCNozOXszF51RiaX7HTFXXAWIIita1c2OCkqfPcu6AGt7+WTDzyFkRjlNcqrk3SSLxKL0NU14pPBUvV"/>
		<add key="Slave_InlodbBak_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn02GqyWcr6oMWJ/ScZa94YGF0P1IvYtG6xtfBxCoxqRIPciOM8X2bfBSUfk3uQePRcB+JE4TXyrk8ZvN4TCSY0gyfX2OIqCNozOXszF51RiaX7HTFXXAWIIita1c2OCkqfPcu6AGt7+WTDzyFkRjlNcqrk3SSLxKL0NU14pPBUvV" />
		<add key="RedisConnectionString" value="3f/mKScFYTdRgHoCbovh4tawHMx+19lThlvMMOgT1jF2CaDaB8d0ZA=="/>-->
  <!--ms-dev-->
  <add key="Master_Inlodb_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EAnx2wFm7rUYvqiAOKsNP3tJptTYdpFwE9d3BtEJSxQhfKA8PQc2Q+co2NccjLwfXjOaXaJj8MjxKfWvQLW/A4F5va0TPXz11mECD/zQ1BBk"/>
  <add key="Slave_InlodbBak_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EKFGkhVkQd6NlH1JM+zHdyGkgCE0citgMTdJbBUIbax6Oq2vEanVl+UXlLaYXY9AhqHHDS2c9HBOyuee2qYHOoCKmbMsGd/tpDhBpOSzu6A+"/>
  <add key="RedisConnectionString" value="3f/mKScFYTdRgHoCbovh4tawHMx+19lThlvMMOgT1jF2CaDaB8d0ZA=="/>
  <add key="TelegramApiUrl" value="https://api.telegram.org" />

	<!--新版MQ設定-->
	<add key="RabbitMQ.HostName" value="192.168.104.70" />
	<!--新版消息服务端口-->
	<add key="RabbitMQ.Port" value="5672" />
	<!--新版消息服务服务用户名-->
	<add key="RabbitMQ.UserName" value="hjmqu1" />
	<!--新版消息服务密码-->
	<add key="RabbitMQ.Password" value="qwertyuiop" />

  <!--OBEB配置開始-->
  <!--服务地址(基础接口)-->
  <add key="TPGame.OBEB.ServiceBaseUrl" value="https://uat-obeb.jxjxcdn.com"/>
  <!--DataServiceBaseUrl(数据接口)-->
  <add key="TPGame.OBEB.DataServiceBaseUrl" value="https://uat-obebdataapi.jxjxcdn.com"/>
  <!--商户编码-->
  <add key="TPGame.OBEB.MerchantName" value="210503GOGDEV"/>
  <!--商户编码-->
  <add key="TPGame.OBEB.MerchantCode" value="S3HZP"/>
  <!--AES密钥-->
  <add key="TPGame.OBEB.AESKey" value="ADI07wrvCgMfG46u"/>
  <!--MD5密钥-->
  <add key="TPGame.OBEB.MD5Key" value="yOCLg0ZCggGkwv7H"/>
  <!--OBEB配置結束-->

	<add key="SaveBetLogToSQLiteJobIntervalSeconds" value="60"/>

	<!--商戶代碼-->
	<add key="PlatformMerchantCode" value="MSL" />
	<!--以;区隔存放不同商戶資料-->
	<add key="CopyBetLogToMerchantCodes" value="" />
</appSettings>