<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="default" connectionString="Data Source=jx-dev-db.ark88.net;Initial Catalog=InLodb;Persist Security Info=True;User ID=polyqqccwin;Password=polyqqccwin;" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
	<appSettings>
		<add key="DbName" value="Inlodb" />
		<!--多筆逗號分隔-->
		<add key="TableNames" value="{TableName}" />
		<add key="StartSeq" value="1" />
		<!--只產生Insert的話請填入Insert-->
		<add key="ActionTypeFilter" value="" />
	</appSettings>
</configuration>
