@using Web.Helpers;
<div class="content">
    <div class="error_content">
        <div class="error_text">
            <h1>404</h1>
            <h2>抱歉, 加載出現了問題</h2>
            <p>请检查您的网路状态，或联系相关人员谘询。</p>
        </div>
    </div>
</div>
