@using Web.Helpers;
<div class="content">
    <div class="error_content">
        <div class="error_text">
            <img src="@WebResourceHelper.Content("~/Content/images/error/reconnect.png")" />
            <h2>请退出游戏并重新进入</h2>
        </div>
    </div>
</div>