<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date ：%message%newline" />
      </layout>
      <encoding value="utf-8" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]" />
        <footer value="[Footer]" />
        <conversionPattern value="CreateTime:%date ThreadID:[%thread] Level：%-5level Description：%message%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]" />
        <footer value="[Footer]" />
        <conversionPattern value="CreateTime:%date ThreadID:[%thread] Level：%-5level Description：%message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <connectionString value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Work\cvs_root\log4net-1.2\access.mdb;User Id=;Password=;" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="1024" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    <root>
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--账号-->
    <add key="MerchantCode" value="Oqi1XmwwkIyltkchPV8vYqoI19e8Gypi" />
    <!--服务地址-->
    <add key="ServiceUrl" value="http://uat-imoneapi.jxjxcdn.com" />
    <!--货币类型-->
    <add key="Currency" value="CNY" />
    <!--语言-->
    <add key="Language" value="ZH-CN" />
    <!--网站域名-->
    <add key="Linecode" value="jxtest" />
    <!--投注纪录每次取得区间-->
    <add key="PerOnceQueryMinutes" value="10" />
    <!--产品 401;301 -->
    <add key="ProductWallet" value="102" />
    <!--系統設定↓↓↓-->
    <!--数据库链接字符串-->
    <!--ms-sit-->
    <!--<add key="ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn02GqyWcr6oMWJ/ScZa94YGF0P1IvYtG6xtfBxCoxqRIPciOM8X2bfBSUfk3uQePRcB+JE4TXyrk8ZvN4TCSY0gyfX2OIqCNozOXszF51RiaX7HTFXXAWIIita1c2OCkqfPcu6AGt7+WTDzyFkRjlNcqrk3SSLxKL0NU14pPBUvV"/>
			<add key="Slave_InlodbBak_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn02GqyWcr6oMWJ/ScZa94YGF0P1IvYtG6xtfBxCoxqRIPciOM8X2bfBSUfk3uQePRcB+JE4TXyrk8ZvN4TCSY0gyfX2OIqCNozOXszF51RiaX7HTFXXAWIIita1c2OCkqfPcu6AGt7+WTDzyFkRjlNcqrk3SSLxKL0NU14pPBUvV" />
			<add key="RedisConnectionString" value="3f/mKScFYTdRgHoCbovh4tawHMx+19lThlvMMOgT1jF2CaDaB8d0ZA=="/>-->
    <!--ms-dev-->
    <add key="ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EAnx2wFm7rUYvqiAOKsNP3tJptTYdpFwE9d3BtEJSxQhfKA8PQc2Q+co2NccjLwfXjOaXaJj8MjxKfWvQLW/A4F5va0TPXz11mECD/zQ1BBk" />
    <add key="Slave_InlodbBak_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn9y6O3ZY6e1yGvYVBNEPDXK4A8SAzeMk9db0pEFVH9rTNJkPrbSULkxooUuzB0I2EKFGkhVkQd6NlH1JM+zHdyGkgCE0citgMTdJbBUIbax6Oq2vEanVl+UXlLaYXY9AhqHHDS2c9HBOyuee2qYHOoCKmbMsGd/tpDhBpOSzu6A+" />
    <add key="RedisConnectionString" value="3f/mKScFYTdRgHoCbovh4tawHMx+19lThlvMMOgT1jF2CaDaB8d0ZA==" />

    <!--新版MQ設定-->
    <add key="RabbitMQ.HostName" value="192.168.104.70" />
    <!--新版消息服务端口-->
    <add key="RabbitMQ.Port" value="5672" />
    <!--新版消息服务服务用户名-->
    <add key="RabbitMQ.UserName" value="hjmqu1" />
    <!--新版消息服务密码-->
    <add key="RabbitMQ.Password" value="qwertyuiop" />

    <add key="Environment" value="Development" />
    <!--商戶代碼-->
    <add key="PlatformMerchantCode" value="MSL" />
    <add key="SaveBetLogToSQLiteJobIntervalSeconds" value="60" />
    <!--以;区隔存放不同商戶資料-->
    <add key="CopyBetLogToMerchantCodes" value="" />
	<add key="IMOne.ReportServiceUrl" value="https://uat-imreportapi.jxjxcdn.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.24.0.0" newVersion="6.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.47.2.0" newVersion="4.47.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.117.0" newVersion="1.0.117.0" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-6.4.0.0" newVersion="6.4.0.0" />
		</dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>