<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--環境變數:資料種類有  Development, SIT, UAT, Production-->
  <add key="Environment" value="UAT" />
  <add key="RedisConnectionString" value="3f/mKScFYTcTu+iR9FzV55FKZ+imWo4GO6R62kTY5Eymh1RXWuyHugRIf36jtyyv0YYdBFMjd9c="/>

  <!--UAT-->
  <!--数据库链接字符串-->
  <add key="Master_Inlodb_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn+UMghz6v901Z9C6uhFy1tXr2Jekavny4yNDg1JE+Y3QJtw+9RRgX9MgH3wWHbGE2mSjDYWspcMUaf3jeOqfLS+MGE0/AhFshFYC/6lfb0YAfbRViea4zP081LFyUuFW8xz9m++TzcQgcyx0cy+hHzPO43C2u1F1HGrsMkzLJRJKM2AEZPgxEjw="/>
  <!--数据库链接字符串-->
  <add key="Slave_InlodbBak_ConnectionString" value="tr1kpq2d6qw8M4pgcxxvn+UMghz6v901Z9C6uhFy1tXr2Jekavny4yNDg1JE+Y3QJtw+9RRgX9MgH3wWHbGE2tr9QrrP2ahZxKncYCvt+v02s4ZRpgX+tyh373tVqpxm20PphB+9uB1w8BVjmsqjW6Fp3s4KAbb6gehftfPrWIUOMJjO5+IejjSa04YC7iWRptayyWKDG9U="/>

  <!--新版MQ設定-->
  <add key="RabbitMQ.HostName" value="192.168.103.40" />
  <!--新版消息服务端口-->
  <add key="RabbitMQ.Port" value="5672" />
  <!--新版消息服务服务用户名-->
  <add key="RabbitMQ.UserName" value="hjmqu1" />
  <!--新版消息服务密码-->
  <add key="RabbitMQ.Password" value="qwertyuiop" />

  <!--商戶代碼-->
  <add key="PlatformMerchantCode" value="MSL" />

  <!--秘色API設定開始-->
  <add key="MSSealAddress" value="https://open.luoznz.com"/>
  <add key="MSSealSalt" value="456ERTY"/>
  <!--秘色API設定結束-->

  <!--OBEB配置開始-->
  <!--服务地址(基础接口)-->
  <add key="TPGame.OBEB.ServiceBaseUrl" value="https://uat-obeb.jxjxcdn.com"/>
  <!--DataServiceBaseUrl(数据接口)-->
  <add key="TPGame.OBEB.DataServiceBaseUrl" value="https://uat-obebdataapi.jxjxcdn.com"/>
  <!--商户编码-->
  <add key="TPGame.OBEB.MerchantName" value="210503GOGDEV"/>
  <!--商户编码-->
  <add key="TPGame.OBEB.MerchantCode" value="S3HZP"/>
  <!--AES密钥-->
  <add key="TPGame.OBEB.AESKey" value="ADI07wrvCgMfG46u"/>
  <!--MD5密钥-->
  <add key="TPGame.OBEB.MD5Key" value="yOCLg0ZCggGkwv7H"/>
  <!--OBEB配置結束-->
</appSettings>