@using BackSideWeb.Models.ViewModel
@using JxBackendService.Model.Paging
@model PagedResultModel<AnchorInfoContextViewModel>
@{
    string clientServiceName = ViewBag.ClientServiceName.ToString();
}
<div>
    <table>
        <tbody class="jqBody">
            @foreach (var item in Model.ResultList)
            {
                <tr>                    
                    <td>@item.Id</td>
                    <td>@item.GroupIdText</td>
                    <td>
                        <div class="flex_content">
                            <a href="javascript:void(0)" class="fa fa-edit" style="font-size: 20px; color:black;"
                           onclick="@string.Format("{0}.openUpdateView('{1}')", clientServiceName, item.KeyContent)">
                            </a>
                           <a href="javascript:void(0)" class="fa fa-trash" style="font-size: 20px; color:black;"
                           onclick="@string.Format("{0}.delete('{1}')", clientServiceName, item.KeyContent)">
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="jqPagination">
        @await Html.PartialAsync("Partial/_PaginationByPagerInfo", Model)
    </div>
</div>