@using BackSideWeb.Models.ViewModel
@using BackSideWeb.Models.ViewModel.BotBet
@using JxBackendService.Model.Enums.BackSideWeb.BotBet
@model AnchorInfoContextViewModel

<label id="botGroup" hidden></label>
<div class="bg spacing gap system_filter">
    <div class="col">
        <div class="item">
            <div class="label_input column_layout">
                <label>
                    <p>直播间</p>
                </label>
                <div class="form_set">
                    <input class="jqFilter" type="number" name="" id="Id" maxlength="50">
                </div>
            </div>
        </div>
    </div>

   <div class="col">
        <div class="item jqAdvanceFilter">
            <div class="label_input column_layout">
                <label>
                    <p>组别</p>
                </label>
                @await Html.PartialAsync("Partial/_DropdownMenu", new DropdownMenuSetting
                {
                SettingId = "botGroupSelect",
                Items = Model.BotGroupItems,
                })
            </div>
        </div>
    </div>
    <div class="col">
        <div class="item">
            <div class="btns">
                <a href="javascript:;" class="btn_default main_color jqSearchBtn">查询</a>
            </div>
        </div>
    </div>
</div>

<div id="jqContentRoot" style="display:none">
    <div class="bg gap">
        <div class="member_center_report agent_report table_overflow_x">
            <table>
                <thead>
                    <tr>
                        <th>直播间</th>
                        <th>组别</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="jqGridContent">
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer_function_content space_between">
        <div class="jqPagination pagination"></div>
    </div>
</div>